/* FORMATEO DEL CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
li {
    list-style: none;
}


/* Fuentes de letras */
/* ----Variables---- */
:root {
    --fuente-principal: #6E5848;
    --color-hover: #D6CEC3;

    --header-bg-color: #FAF9F6;
}

/* Cambios a los hover predeterminados de boostrap */
.nav-link:hover{
    color: var(--color-hover);
}

/* -------Fuentes Reutilizables-------  */

.f--principal {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* --------Fuente de los link--------- */
.f--secundaria {
    font-family: "Lato", sans-serif;
    font-style: normal;
}




/*<----------- Seccion de header --------> */
header {
    background-color: var(--header-bg-color);
}

.logo {
    font-weight: 900;
    color: var(--fuente-principal);
    padding: 1rem 0;
    text-align: center;
}

.nav__a li a {
    text-decoration: none;
    color: var(--fuente-principal);
    font-weight: 700;
}

/* ---Termina seccion de header */



/* Seccion de main */

.principal__titulo {
    margin: 1rem 0;
    text-align: center;
}

.principal__titulo span {
    font-weight: 900;
    color: var(--fuente-principal);
}

.principal__p {
    font-weight: 200;
    color: var(--fuente-principal);
    text-align: center;
}


.destacados {
    background-color: #D6CEC3;
}

/* ---Termina seccion de main */


/* Seccion de Footer */
.footer {
    background-color: #FAF9F6;
}

/* ---Termina seccion de Footer */